.Rhistory
.RData
.Rproj.user

/data

# Big derived shapefile
compiled_bottom_type*

# Compiled notbooks/reports
notebooks/**/*.pdf
notebooks/**/*.html

# Extracted data
survdat_names_sed.csv
demersal.csv

# Big model output
data derived/model output/*.RDS

# Temporary file (mainly Excel/Word)
~$*